<div class="op__menu">
  <div class="op__block">
    <div class="op__menu__inner">
      <div class="op__menu__logo__container">
        <div class="op__menu__logo">
          <img src="../../components/assets/img/logo.svg" alt="Clean UI Onepage Landing" />
          <div class="op__menu__logo__name">Clean UI</div>
          <div class="op__menu__logo__descr">Onepage Landing</div>
        </div>
      </div>
      <div class="op__menu__links">
        <a href="javascript: void(0);" rel="noopener noreferrer">
          Home
        </a>
        <a href="javascript: void(0);" rel="noopener noreferrer">
          Pricing
        </a>
        <a href="javascript: void(0);" rel="noopener noreferrer">
          Our Products
        </a>
        <a href="javascript: void(0);" rel="noopener noreferrer">
          Hire Us
        </a>
        <a href="javascript: void(0);" rel="noopener noreferrer">
          Docs
        </a>
      </div>
    </div>
  </div>
</div>