<section class="ctf-companies">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="ctf-partition-title ctf-companies-title">
          Clean UI Pro powers thousands of apps<br />
          at some of the smartest companies around the world.
          <div class="ctf-partition-marker"></div>
        </h2>
        <div class="ctf-partition-title-description ctf-companies-title-note">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <ul class="ctf-companies-list">
          <li class="ctf-companies-item">
            <img src="../../assets/img/logos/companies/square.png" />
          </li>
          <li class="ctf-companies-item">
            <img src="../../assets/img/logos/companies/ebay.png" />
          </li>
          <li class="ctf-companies-item">
            <img src="../../assets/img/logos/companies/spotify.png" />
          </li>
          <li class="ctf-companies-item">
            <img src="../../assets/img/logos/companies/cisco.png" />
          </li>
          <li class="ctf-companies-item">
            <img src="../../assets/img/logos/companies/airbnb.png" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>