<section class="ctf-offer">
  <div class="container-fluid">
    <div class="ctf-offer-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="ctf-offer-container">
            <div class="ctf-offer-inner-container">
              <h2 class="ctf-partition-title text-center ctf-partition-marker ctf-partition-marker-center">
                Download PDF
              </h2>
              <p class="ctf-partition-title-description mx-auto mb-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
              <div class="row">
                <div class="mx-auto col-lg-8">
                  <div class="ctf-offer-content">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                      dummy
                      text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                      and
                      typesetting industry.
                    </p>
                    <a href="javascript: void(0);" class="ctf-offer-button ctf-button ctf-button-purple">Download</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>