<footer class="ctf-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ctf-footer-container">
          <p class="ctf-footer-copyright">
            <img
              class="ctf-footer-logo"
              src="../../assets/img/logos/mediatec-logo.png"
              alt="Mediatec company logo"
            />
            <span class="ctf-footer-copy-text">
              Copyright © 2019<br />
              Mdtk Soft |
              <a class="ctf-footer-link" href="javascript: void(0);">Privacy Policy</a>
            </span>
            <a href="javascript: void(0);" class="ctf-button ctf-button-white">Get in touch</a>
          </p>
          <div class="ctf-footer-contacts-wrapper">
            <b class="ctf-footer-support-text"
              >Feel free to ask any questions!
              <a
                class="ctf-footer-link ctf-footer-link-underlined"
                href="mailto:support@cleanuitemplate.com"
                >support@cleanuitemplate.com</a
              >
            </b>
            <div class="ctf-footer-contacts">
              <p class="ctf-footer-contacts-item">
                <b>United States</b>, Palo Alto<br />
                <a class="ctf-footer-link" href="tel:+16506819732">+1 650 681 9732</a>
              </p>
              <p class="ctf-footer-contacts-item">
                <b>Belarus</b>, Minsk<br />
                <a class="ctf-footer-link" href="tel:+375296244688">+375 29 6 244 688</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
