<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Clean UI Free Landing Page</title>

  <meta name="description" content="Clean UI Free Landing Page" />
  <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

  <!-- VENDORS STYLES -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,700,700i,900"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" />

  <!-- MAIN STYLES -->
  <link rel="stylesheet" href="/assets/css/main.min.css" />

  <!-- VENDORS SCRIPTS -->
  <script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  <!-- MAIN SCRIPTS -->
  <script src="/assets/js/common.min.js"></script>
</head>
