<header class="ctf-header">
  <div class="ctf-header-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ctf-header-nav">
            <div class="ctf-nav-light">
              //=./nav.html
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="ctf-header-title">Get this landing template for free!</h1>
          <div class="ctf-header-title-note">
            <p>
              Admin and website templates built upon <b>Bootstrap</b>, <b>React</b>, <b>Angular</b>,
              and <b>Vue</b>. <b>Free lite</b> versions available for download.
            </p>
          </div>
          <p class="ctf-header-promo">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <div class="ctf-header-buttons">
            <a href="" class="ctf-button ctf-button-purple ctf-button-purple-bordered mr-4">Included in Pro</a>
            <a href="" class="ctf-button ctf-button-white">Docs</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ctf-header-image">
            <img src="../../assets/img/images/promo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>