<section class="ctf-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="ctf-partition-title text-white">
          <b>Get started with our products, for free</b>
        </h1>
        <p class="ctf-partition-title-description text-white">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
            text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
        </p>
        <a href="javascript: void(0);" class="ctf-button ctf-button-white">Get started for free</a>
      </div>
    </div>
  </div>
</section>
