<nav class="ctf-nav">
  <a href="javascript: void(0);" class="ctf-nav-logo">
    <img
      class="ctf-nav-logo-img-light"
      src="../../assets/img/logos/TF-logo-inverse.png"
      alt="Clean UI templates family logo"
    />
    <img
      class="ctf-nav-logo-img-dark"
      src="../../assets/img/logos/TF-logo.png"
      alt="Clean UI templates family logo"
    />
  </a>
  <ul class="ctf-nav-list">
    <li class="ctf-nav-item">
      <a href="javascript: void(0);" class="ctf-nav-link">Home</a>
    </li>
    <li class="ctf-nav-item">
      <a href="javascript: void(0);" class="ctf-nav-link">Pricing</a>
    </li>
    <li class="ctf-nav-item ctf-nav-item-dropdown-toggle">
      <a
        href="javascript: void(0);"
        class="ctf-nav-link"
        role="button"
        id="dropdownMenuLink"
        aria-haspopup="true"
        >Our products</a
      >
      <div class="ctf-nav-sub-list-wrapper">
        <ul class="ctf-nav-sub-list" aria-labelledby="dropdownMenuLink">
          <li class="ctf-nav-sub-item">
            <a href="javascript: void(0);" class="ctf-nav-sub-link">Clean UI Html Admin Template</a>
          </li>
          <li class="ctf-nav-sub-item">
            <a href="javascript: void(0);" class="ctf-nav-sub-link"
              >Clean UI React Admin Template</a
            >
          </li>
          <li class="ctf-nav-sub-item">
            <a class="ctf-nav-sub-link">
              Clean UI Angular Admin Template
              <span class="ctf-nav-sub-link-badge ctf-badge ctf-badge-small ctf-badge-purple-gray"
                >Soon</span
              >
            </a>
          </li>
          <li class="ctf-nav-sub-item">
            <a class="ctf-nav-sub-link">
              Clean UI Vue Admin Template
              <span class="ctf-nav-sub-link-badge ctf-badge ctf-badge-small ctf-badge-purple-gray"
                >Soon</span
              >
            </a>
          </li>
          <li class="ctf-nav-sub-item">
            <a class="ctf-nav-sub-link">
              Clean UI Website Template
              <span class="ctf-nav-sub-link-badge ctf-badge ctf-badge-small ctf-badge-purple-gray"
                >Soon</span
              >
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="ctf-nav-item">
      <a href="javascript: void(0);" class="ctf-nav-link">Hire us</a>
    </li>
    <li class="ctf-nav-item">
      <a target="_blank" href="javascript: void(0);" class="ctf-nav-link">Docs</a>
    </li>
  </ul>
  <button class="ctf-nav-toggle">
    <span>Toggle Menu</span>
  </button>
</nav>
