<section class="ctf-hire-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ctf-hire-form-container">
          <div class="ctf-hire-form-inner-container">
            <div class="row">
              <div class="col-lg-12">
                <h1
                  class="ctf-partition-title text-center ctf-partition-marker ctf-partition-marker-center"
                >
                  Ready to make some software magic?<br />
                  The first step is connecting
                </h1>
                <p class="ctf-partition-title-description mx-auto text-center">
                  We are currenlty interested in projects with <b>budgets >40$k</b> and
                  <b>60$/hour rate</b>. Feel free to contact us on
                  <a href="tel:+16506819732">+1 650 681 9732</a> or contact by
                  <a href="mailto:hello@mediatec.org">hello@mediatec.org</a>
                </p>
              </div>
              <div class="mx-auto col-lg-6 col-md-8 col-sm-10 col-11">
                <form>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="fullName">
                                Full name
                              </label>
                            </div>
                            <input class="ctf-hire-input" id="fullName" type="text" />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="email">
                                Email
                              </label>
                            </div>
                            <input class="ctf-hire-input" id="email" type="email" />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="phone">
                                Phone
                              </label>
                            </div>
                            <input class="ctf-hire-input" id="phone" type="tel" />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="country">
                                Country
                              </label>
                            </div>
                            <input class="ctf-hire-input" id="country" type="text" />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="file">
                                Attach file
                              </label>
                            </div>
                            <div class="ctf-hire-file-input-wrapper">
                              <input
                                class="ctf-hire-input ctf-hire-input-file"
                                id="file"
                                type="file"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="ctf-hire-form-item">
                            <div class="ctf-hire-form-item-label">
                              <label class="ctf-hire-form-label" for="description"
                                >Description</label
                              >
                            </div>
                            <textarea class="ctf-hire-textarea" id="description"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="ctf-hire-form-item ctf-hire-form-item-checkbox">
                            <input
                              class="ctf-hire-input ctf-hire-input-checkbox visually-hidden"
                              type="checkbox"
                              id="sendNda"
                            />
                            <label
                              class="ctf-hire-form-label ctf-hire-form-label-checkbox"
                              for="sendNda"
                              >Send nda</label
                            >
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="ctf-hire-form-item ctf-hire-form-item-checkbox">
                            <input
                              class="ctf-hire-input ctf-hire-input-checkbox visually-hidden"
                              type="checkbox"
                              id="personalDetails"
                            />
                            <label
                              class="ctf-hire-form-label ctf-hire-form-label-checkbox"
                              for="personalDetails"
                              >I consent to having Mdtk Soft collect my personal details.</label
                            >
                          </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                          <button class="ctf-button ctf-button-green w100p" type="button">
                            Send proposal
                          </button>
                        </div>
                        <div class="col-lg-12">
                          <p class="ctf-hire-form-note">
                            This form collects your personal details so that we can contact you back
                            to raise opportunities for cooperation, and we need your consent on
                            that. You can withdraw your consent at any time by writing to us at
                            hello@mediatec.org. Read our
                            <a href="/privacy-policy.html">Privacy Policy</a> to learn how we
                            protect and manage your data.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
