<section class="ctf-recommended">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <h1 class="ctf-partition-title text-center ctf-partition-marker ctf-partition-marker-center">
          Recommended Read
        </h1>
        <p class="ctf-partition-title-description text-center mx-auto">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="ctf-recommended-item">
          <span class="ctf-recommended-icon">
            <svg>
              <use xlink:href="#lnr-license"></use>
            </svg>
          </span>
          <span class="ctf-recommended-title">
            Amazing content
          </span>
          <ul>
            <li>
              <a href="javascript: void(0);">Mdtk Soft Team Playbook</a>
            </li>
            <li>
              <a href="javascript: void(0);">Agile development</a>
            </li>
            <li>
              <a href="javascript: void(0);">Git tutorials</a>
            </li>
            <li>
              <a href="javascript: void(0);">Service management</a>
            </li>
            <li>
              <a href="javascript: void(0);">Continuous delivery</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ctf-recommended-item">
          <span class="ctf-recommended-icon">
            <svg>
              <use xlink:href="#lnr-leaf"></use>
            </svg>
          </span>
          <span class="ctf-recommended-title">
            Popular blogs
          </span>
          <ul>
            <li>
              <a href="javascript: void(0);">How to be smart in a world of silly team building games</a>
            </li>
            <li>
              <a href="javascript: void(0);">I ran a ludicrously complex engineering project (and survived)</a>
            </li>
            <li>
              <a href="javascript: void(0);">If you want an open company culture, make this a habit</a>
            </li>
            <li>
              <a href="javascript: void(0);">17 ways emotionally intelligent leaders build a culture of trust</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ctf-recommended-item">
          <span class="ctf-recommended-icon">
            <svg>
              <use xlink:href="#lnr-rocket"></use>
            </svg>
          </span>
          <span class="ctf-recommended-title">
            In the news
          </span>
          <ul>
            <li>
              <a href="javascript: void(0);">Mdtk Soft announces a new partnership with Slack</a>
            </li>
            <li>
              <a href="javascript: void(0);">Mdtk Soft packages tools to help enterprises accelerate devOps adoption</a>
            </li>
            <li>
              <a href="javascript: void(0);">Business Software Maker Mdtk Soft Says It’s Going All-In With Amazon
                Cloud</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>