<section class="ctf-reviews">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ctf-partition-title ctf-reviews-title">
          <h2>
            Customer reviews.<br />
            5000+ satisfied clients worldwide.
          </h2>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="ctf-partition-title-note ctf-reviews-title-note">
          <p>
            We really are very passionate about our customer services and your satisfaction, that's
            why we take what you say seriously. We want to hear from you with.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Benjamin Kouba,
              </cite>
              LEAF9.com, United States
            </p>
            <div class="ctf-reviews-item-rating"></div>
            <div class="ctf-reviews-item-quote">
              <p>
                I've looked at hundreds of bootstrap themes, and this one is by far the best I've
                come across for our project. The design is modern, and not cluttered. The code is
                clean and easily manageable, and their customer support has been excellent.
              </p>
              <b class="ctf-reviews-item-punch">It's new, but this one is definitely a winner!</b>
            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Jhon Allen,
              </cite>
              Soft Networks, Germany
            </p>
            <div class="ctf-reviews-item-rating"></div>
            <div class="ctf-reviews-item-quote">
              <p>
                The quality is incredible high and the flexibility is limitless! Clean UI Admin
                Template accelerated development 3x times and reduced QA issues by 50%. It's
                probably saved us $30,000 on this project.
              </p>
              <b class="ctf-reviews-item-punch">Highly recommended to buy!</b>
            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item mb-0">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Tom N,
              </cite>
              Themeforest Buyer, United States
            </p>
            <div class="ctf-reviews-item-rating"></div>
            <div class="ctf-reviews-item-quote">
              <p>
                I have over 12 years of full stack web programming experience. They did a really
                awesome job with this.
              </p>
              <p>
                The code quality is good - though when looking at anyone's code, you're going to
                have to read through it a bit to figure out what's going on.
              </p>
              <b class="ctf-reviews-item-punch">Well worthwhile. Great time saver.</b>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
