<section class="ctf-hire">
  <div class="container-fluid">
    <div class="ctf-hire-offer">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <h2 class="ctf-hire-offer-category ctf-partition-marker">Web development</h2>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-diamond">
                  <use xlink:href="#lnr-diamond"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Web apps
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-leaf">
                  <use xlink:href="#lnr-leaf"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Microservices
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-link">
                  <use xlink:href="#lnr-link"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Web sites
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-lock">
                  <use xlink:href="#lnr-cloud-check"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Cloud Hosting
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 ctf-hire-img-content">
          <div class="ctf-hire-offer-img-container">
            <img src="../../assets/img/images/image1.jpg" class="ctf-hire-offer-img-webdev" />
          </div>
        </div>
      </div>
    </div>
    <div class="ctf-hire-offer ctf-hire-offer-design">
      <div class="row">
        <div class="col-lg-6 col-md-5 ctf-hire-img-content">
          <div class="ctf-hire-offer-img-container">
            <img src="../../assets/img/images/image2.jpg" class="ctf-hire-offer-img-webdev" />
          </div>
        </div>
        <div class="col-lg-6 col-md-7">
          <h2 class="ctf-hire-offer-category ctf-partition-marker">Graphic Design</h2>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-diamond">
                  <use xlink:href="#lnr-flag"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Web & Mobile Design
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-leaf">
                  <use xlink:href="#lnr-leaf"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Illustrations & Icons
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-link">
                  <use xlink:href="#lnr-eye"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Visual Identity
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-lock">
                  <use xlink:href="#lnr-star"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Animations
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>