<div class="op__block" data-aos="fade-up" data-aos-delay="200">
  <div class="container-fluid">
    <div class="op__form">
      <h2 class="mb-5">
        Ready to make some software magic?
        <br />
        The first step is connecting
      </h2>
      <div class="row">
        <div class="col-lg-9">
          <div class="op__form__item">
            <label for="name">your full name</label>
            <input class="form-control" type="text" id="name" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="op__form__item">
            <label for="email">email</label>
            <input class="form-control" type="text" id="email" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="op__form__item">
            <label for="phone">phone</label>
            <input class="form-control" type="text" id="phone" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="op__form__item">
            <label for="country">country</label>
            <input class="form-control" type="text" id="country" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="op__form__item">
            <label for="file">attach file</label>
            <input class="form-control" type="file" id="file" />
          </div>
        </div>
        <div class="col-lg-9">
          <div class="op__form__item">
            <label for="message">description</label>
            <textarea class="form-control" id="message"></textarea>
          </div>
        </div>
      </div>
      <div class="pt-3 mb-4">
        <button class="op__btn op__btn--blue">
          Send proposal
        </button>
      </div>
      <p class="op__form__disclaimer text-muted">
        This form collects your personal details so that we can contact you back to raise opportunities for
        cooperation, and we need your consent on that. You can withdraw your consent at any time by writing to us at
        hello@mediatec.org. Read our Privacy Policy to learn how we protect and manage your data.
      </p>
      <div class="op__form__fig1"></div>
      <div class="op__form__fig2"></div>
      <div class="op__form__fig3"></div>
      <div class="op__form__fig4"></div>
      <div class="op__form__fig5">
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>