<div class="op__unlock">
  <div class="op__block">
    <div class="op__unlock__container">
      <div class="container-fluid">
        <h1 data-aos="fade-left" data-aos-delay="200">unlock access.</h1>
        <p data-aos="fade-right" data-aos-delay="400">
          Want more cool stuff?
          <span class="op__unlock__tag">Explore early products</span>
          They are also included in the subscription
        </p>
        <a href="javascript: void(0);" class="op__btn" data-aos="fade-left" data-aos-delay="600">
          Go Unlimited for 19$
        </a>
      </div>
    </div>
  </div>
</div>