<div class="op__block" data-aos="fade-up" data-aos-delay="200">
  <div class="container-fluid">
    <div class="op__list">
      <h3>Graphic design</h3>
      <div class="row">
        <div class="col-lg-4">
          <span class="op__list__title">
            Web & Mobile Design
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
        <div class="col-lg-4">
          <span class="op__list__title">
            Visual Identity
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
        <div class="col-lg-4">
          <span class="op__list__title">
            Animations
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
      </div>
    </div>
  </div>
</div>