<div class="op__block mb-5" data-aos="fade-up" data-aos-delay="400">
  <div class="container-fluid">
    <div class="op__list">
      <h3>Web Development</h3>
      <div class="row">
        <div class="col-lg-4">
          <span class="op__list__title">
            Web apps
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
        <div class="col-lg-4">
          <span class="op__list__title">
            Microservices
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
        <div class="col-lg-4">
          <span class="op__list__title">
            Cloud Hosting
          </span>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text.</p>
        </div>
      </div>
    </div>
  </div>
</div>