<div class="op__block">
  <div class="container-fluid">
    <div class="op__block__heading text-center">
      Pricing & Plans
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="op__pricing__item">
          <h4>Community</h4>
          <p class="text-muted">
            For teams that are ready to control and centralize their communication on Clean UI
          </p>
          <div class="op__pricing__prices">
            <span class="op__pricing__price">FREE</span>
          </div>
          <a href="javascript: void(0);" class="op__btn op__btn--blue">
            Install
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="op__pricing__item">
          <h4>Pro</h4>
          <p class="text-muted">
            For businesses ready to step up their team communication and access more features
          </p>
          <div class="op__pricing__prices">
            <span class="op__pricing__price">$3</span>
            <span class="text-muted">/ user monthly</span>
            <br />
            <span class="op__pricing__price">$30</span>
            <span class="text-muted">/ user annually</span>
          </div>
          <a href="javascript: void(0);" class="op__btn op__btn--blue">
            Contact us
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="op__pricing__item">
          <h4>Enterprise</h4>
          <p class="text-muted">
            For businesses needing high-level scalability, management and unlimited features
          </p>
          <div class="op__pricing__prices">
            <span class="op__pricing__price">Tired Pricing</span>
            <br />
            <span class="op__pricing__price">Volume Discount</span>
          </div>
          <a href="javascript: void(0);" class="op__btn op__btn--blue">
            Contact us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>