@import "../assets/mixins";

.op__footer {
  padding: rem(50) 0 rem(70);
  border-top: 1px solid $border;
  font-size: rem(16);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    @media screen and (max-width: $sm-max-width) {
      flex-direction: column;
    }
  }
  
  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: rem(30);
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    color: $dark;
  
    svg {
      height: rem(36);
      width: rem(36);
      position: relative;
      top: -1px;
      margin-right: rem(10);
  
      path:nth-child(1) {
        stroke: $primary;
        fill: $primary;
        stroke-width: 1px;
        animation: logoAnimate 6s ease-in-out infinite;
      }
      path:nth-child(2) {
        stroke: $primary;
        fill: $primary;
        stroke-width: 1px;
        animation: logoAnimate 6s ease-in-out infinite;
        animation-delay: 2s;
      }
      path:nth-child(3) {
        stroke: $primary;
        fill: $primary;
        stroke-width: 1px;
        animation: logoAnimate 6s ease-in-out infinite;
        animation-delay: 4s;
      }
  
      @keyframes logoAnimate {
        0% {
          stroke: $primary;
          fill: $primary;
        }
        50% {
          stroke: #1ad697;
          fill: #1ad697;
        }
        100% {
          stroke: $primary;
          fill: $primary;
        }
      }
    }
  
    &__name {
      font-size: rem(18);
      font-weight: 700;
      color: $black;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 90%;
      display: block;
    }
  }
  
  &__ratingWrapper {
    @media screen and (max-width: $sm-max-width) {
      order: 1;
      margin-top: rem(20);
    }
  }
  
  &__rating {
    text-align: right;
  
    @media screen and (max-width: $sm-max-width) {
      text-align: left;
    }
  }
  
  &__ratingStars {
    height: 20px;
    width: 120px;
    display: inline-block;
    position: relative;
    background: repeat-x url(/components/assets/img/stars.png) left top;
    background-size: contain;
    position: relative;
    top: 4px;
    margin-left: 10px;
  }
}

// dark theme
[data-kit-theme="dark"] {
  .op__footer {
    border-top: 1px solid $dark-gray-4;

    &__logo {
      span {
        background: $primary;
      }
    }
  }
}